<!doctype html>
<html lang="cs-CZ">
<head>
	<meta charset="UTF-8">
	<title>AsisTeam{{#if title}} | {{title}}{{/if}}</title>

	<script type="text/javascript" src="js/modernizr.js"></script>

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/layout.css"/>
	{{#each styles}}
		<link rel="stylesheet" href="css/{{this}}"/>
	{{/each}}
</head>
<body>

<header class="main_header">

	<nav class="main_nav" role="navigation">
		<a class="logo" href="index.html"><img src="images/logo.png" alt="AsisTeam Logo" width="161" height="34"/></a>
		<ul>
			{{#withSort pages 'data.menu_position'}}
				{{#unless data.featured_menu}}
					{{#isnt basename 'index'}}
						<li{{#if isCurrentPage}} class="active"{{/if}}><a href="{{basename}}.html">{{data.title}}</a></li>
					{{/isnt}}
				{{/unless}}
			{{/withSort}}
		</ul>
	</nav>

	<nav class="featured_nav" role="navigation">
		{{#withSort pages 'data.menu_position'}}
			{{#if data.featured_menu}}
				<a href="{{basename}}.html" class="{{data.icon}}{{#if isCurrentPage}} active{{/if}}">
					<strong>{{data.title}}</strong>
					{{data.menu_text}}
				</a>
			{{/if}}
		{{/withSort}}
	</nav>

</header>