{{>header}}
<div class="banner">
	<div class="inner">
		{{#if slider}}
			<section class="home_slider" id="lumi_slider">
				<div class="wrapper" aria-live="polite">
					{{#each slider}}
						<div class="slider_item">
							<div class="caption">
								<h2>{{title}}</h2>
								<ul>
									{{#each items}}
										<li>{{this}}</li>
									{{/each}}
								</ul>
							</div>
							{{#is @index 0}}<img src="images/{{image}}" alt="{{title}}" />{{/is}}
							{{#isnt @index 0}}<span class="image_placeholder" data-src="images/{{image}}" data-alt="{{title}}" hidden="hidden" aria-hidden="true"></span>{{/isnt}}
						</div>
					{{/each}}
				</div>
				<div class="controls" aria-controls="lumi_slider">
					{{#each slider}}
						<button{{#is @index 0}} class="active"{{/is}}>{{index}}. sekce</button>
					{{/each}}
				</div>
			</section>
		{{/if}}

		{{>calculator}}

		{{#if teaser}}
			<div class="teaser">{{{teaser}}}</div>
		{{/if}}

	</div>
</div>

<article class="home main_content_wrap main_content" role="main">
	{{>body}}
</article>


{{>footer}}